* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

.textblock {
  font-family: Arial, fantasy;
  margin: 180px auto;
  color: #ffffff;
  padding: 5%;
  border-radius: 50px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 70%;
  overflow: hidden;
  background: rgb(101,135,125);
  background: -moz-radial-gradient(circle, rgba(101,135,125,1) 0%, rgba(70,95,87,1) 40%, rgba(29,39,36,1) 75%);
  background: -webkit-radial-gradient(circle, rgba(101,135,125,1) 0%, rgba(70,95,87,1) 40%, rgba(29,39,36,1) 75%);
  background: radial-gradient(circle, rgba(101,135,125,1) 0%, rgba(70,95,87,1) 40%, rgba(29,39,36,1) 75%);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-content: center;
  padding-bottom: 80px;
}

.textblock img {
  margin: 50px 0px 50px 0px;
  aspect-ratio: 16/9;
}

footer {
  font-family: 'Somebody Else', fantasy;
  letter-spacing: 5px;
  font-weight: 900;
  font-size: calc(20px + 0.390625vw);
  text-align: center;
  bottom: 0%;
  color: #0a7e8c;
  width: 75%;
  margin: 30px auto auto auto;
  padding: 30px 30px 30px 30px;
}

.italic {
  font-style: italic;
  text-align: center;
  padding: 0px 0px 50px 0px;
  font-size: calc(13px + 0.390625vw);
}

main {
  text-align: center;
}

.hidden {
  margin: 80px 0px 80px 0px;
}

p {
  text-align: left;
  margin: 0px 0px 40px 0px;
}

iframe {
  width: 55%;
  aspect-ratio: 16/9;
  padding-top: 30px;
}

hr {
  border: 1px solid rgba(10, 126, 140, 0.6);
  margin-top: 50px;
  margin-bottom: 50px;
}

.aspect {
  width: 500px;
  margin: 60px auto;
  color: #ffffff;
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 50px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-size: calc(13px + 0.390625vw);
}

.aspect li {
  margin: 20px 0;
  padding: 10px;
}


/* =========================
   RESPONSIVE + PRINT
   ========================= */

@media (max-width: 1440px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .bar1, .bar2 {
    width: 80vw;
  }
  .aspect {
    display: grid;
    justify-content: center;
    align-content: center;
  }
  .textblock {
    width: 90%;
    margin: 0 auto;
    margin: 180px auto;
  }
  .textblock img {
    width: 90%;
    aspect-ratio: 16/9;
  }
  .h2 {
    font-size: 150px;
  }
}

@media (max-width: 768px) {
  .hidden {
    display: none;
  }
  iframe {
    width: 80%;
    aspect-ratio: 16/9;
  }
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
}
